<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <!-- FontAwesome Icons -->  
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"/>
        <!-- Custom CSS -->
        <link rel="stylesheet" href="../assets/css/style.css">
    </head>

    <body>
        <!--Product Size Utilization-->
        <style>
        .product img{
            width: 90%;
            height: auto;
            box-sizing: border-box;
            object-fit: cover;
        }
        </style>

        <!--NavBar-->
        <nav class="navbar navbar-expand-lg navbar-light bg-white py-3 fixed-top">
            <div class="container">
                <img class="logo" src="../assets/imgs/logo.jpeg"/>
                <h2 class="brand">StepStyle</h2>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse nav-buttons" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        
                        <li class="nav-item">
                        <a class="nav-link" href="index.html">Home</a>
                        </li>

                        <li class="nav-item">
                        <a class="nav-link" href="shop.html">Shop</a>
                        </li>

                        <li class="nav-item">
                        <a class="nav-link" href="contact.html">Contact US</a>
                        </li>
                        
                        <li class="nav-item">
                        <a href="cart.html"><i class="fas fa-shopping-bag"></i></a>
                        <a href="account.html"><i class="fas fa-user"></i></a>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </nav>


        <!--Featured-->
        <section id="featured" class="my-5 py-5">
            <div class="container text-center mt-5 py-5">
                <h3>Our Products</h3>
                <hr class="mx-auto">
                <p>check out all our products</p>
            </div>
            <div class="row mx-auto container-fluid">

            <div onclick="window.location.href='single_product.html';" class="product text-center col-lg-3 col-md-4 col-sm-12">
                <img class="img-fuild mb-3" src="../assets/imgs/tops1.avif"/>
                <h5 class="p-name">Crew T-Shirt</h5>
                <h4 class="p-price">$8.99</h4>
                <button class="buy-btn">Buy Now</button>
            </div>
                
            <div class="product text-center col-lg-3 col-md-4 col-sm-12">
                <img class="img-fuild mb-3" src="../assets/imgs/tops2.avif"/>            
                <h5 class="p-name"> Bret Hoodie</h5>
                <h4 class="p-price">$34.99</h4>
                <button class="buy-btn">Buy Now</button>
            </div>

            <div class="product text-center col-lg-3 col-md-4 col-sm-12">
                <img class="img-fuild mb-3" src="../assets/imgs/tops3.avif"/>
                <h5 class="p-name">Camo Zip-Up Hoodie</h5>
                <h4 class="p-price">$34.99</h4>
                <button class="buy-btn">Buy Now</button>
            </div>

            <div class="product text-center col-lg-3 col-md-4 col-sm-12">
                <img class="img-fuild mb-3" src="../assets/imgs/tops4.avif"/>     
                <h5 class="p-name">V-Neck Sweater</h5>
                <h4 class="p-price">$44.49</h4>
                <button class="buy-btn">Buy Now</button>
            </div>

            <div class="product text-center col-lg-3 col-md-4 col-sm-12">
                <img class="img-fuild mb-3" src="../assets/imgs/tops5.avif"/>
                <h5 class="p-name">Seamless Henley</h5>
                <h4 class="p-price">$18.00</h4>
                <button class="buy-btn">Buy Now</button>
            </div>

            <div class="product text-center col-lg-3 col-md-4 col-sm-12">
                <img class="img-fuild mb-3" src="../assets/imgs/tops6.avif"/>
                <h5 class="p-name">Icon Polo</h5>
                <h4 class="p-price">$15.00</h4>
                <button class="buy-btn">Buy Now</button>
            </div>
                
            <div class="product text-center col-lg-3 col-md-4 col-sm-12">
                <img class="img-fuild mb-3" src="../assets/imgs/tops7.avif"/>            
                <h5 class="p-name"> Relax Graphic Tee</h5>
                <h4 class="p-price">$29.95</h4>
                <button class="buy-btn">Buy Now</button>
            </div>

            <div class="product text-center col-lg-3 col-md-4 col-sm-12">
                <img class="img-fuild mb-3" src="../assets/imgs/tops8.avif"/>
                <h5 class="p-name">Fannel T-Shirt</h5>
                <h4 class="p-price">$39.95</h4>
                <button class="buy-btn">Buy Now</button>
            </div>

            <div class="product text-center col-lg-3 col-md-4 col-sm-12">
                <img class="img-fuild mb-3" src="../assets/imgs/tops9.avif"/>     
                <h5 class="p-name">Crew Sweatshirt</h5>
                <h4 class="p-price">$31.96</h4>
                <button class="buy-btn">Buy Now</button>
            </div>

            <div class="product text-center col-lg-3 col-md-4 col-sm-12">
                <img class="img-fuild mb-3" src="../assets/imgs/tops10.avif"/>
                <h5 class="p-name">Cable-Knit Sweater</h5>
                <h4 class="p-price">$59.95</h4>
                <button class="buy-btn">Buy Now</button>
            </div>

            <!--BOTTOMS-->
            <div class="product text-center col-lg-3 col-md-4 col-sm-12">
                <img class="img-fuild mb-3" src="../assets/imgs/bottom1.avif"/>
                <h5 class="p-name">Fleece Jogger</h5>
                <h4 class="p-price">$23.49</h4>
                <button class="buy-btn">Buy Now</button>
            </div>

            <div class="product text-center col-lg-3 col-md-4 col-sm-12">
                <img class="img-fuild mb-3" src="../assets/imgs/bottom2.avif"/>            
                <h5 class="p-name"> Medium Wash Baggy Jeans</h5>
                <h4 class="p-price">$34.99</h4>
                <button class="buy-btn">Buy Now</button>
            </div>

            <div class="product text-center col-lg-3 col-md-4 col-sm-12">
                <img class="img-fuild mb-3" src="../assets/imgs/bottom3.avif"/>
                <h5 class="p-name">Fleece Wide-Leg Pants</h5>
                <h4 class="p-price">$44.95</h4>
                <button class="buy-btn">Buy Now</button>
            </div>

            <div class="product text-center col-lg-3 col-md-4 col-sm-12">
                <img class="img-fuild mb-3" src="../assets/imgs/bottom4.avif"/>     
                <h5 class="p-name">Flannel Pajama Pants</h5>
                <h4 class="p-price">$34.95</h4>
                <button class="buy-btn">Buy Now</button>
            </div>

            <div class="product text-center col-lg-3 col-md-4 col-sm-12">
                <img class="img-fuild mb-3" src="../assets/imgs/bottom5.avif"/>
                <h5 class="p-name">Fleece Joggers</h5>
                <h4 class="p-price">$44.95</h4>
                <button class="buy-btn">Buy Now</button>
            </div>

            <div class="product text-center col-lg-3 col-md-4 col-sm-12">
                <img class="img-fuild mb-3" src="../assets/imgs/bottom6.avif"/>
                <h5 class="p-name">Black Baggy Jeans</h5>
                <h4 class="p-price">$49.95</h4>
                <button class="buy-btn">Buy Now</button>
            </div>
                
            <div class="product text-center col-lg-3 col-md-4 col-sm-12">
                <img class="img-fuild mb-3" src="../assets/imgs/bottom7.avif"/>            
                <h5 class="p-name"> Active Shorts</h5>
                <h4 class="p-price">$39.95</h4>
                <button class="buy-btn">Buy Now</button>
            </div>

            <div class="product text-center col-lg-3 col-md-4 col-sm-12">
                <img class="img-fuild mb-3" src="../assets/imgs/bottom8.avif"/>
                <h5 class="p-name">High-Raise Leggings</h5>
                <h4 class="p-price">$44.95</h4>
                <button class="buy-btn">Buy Now</button>
            </div>

            <div class="product text-center col-lg-3 col-md-4 col-sm-12">
                <img class="img-fuild mb-3" src="../assets/imgs/bottom9.avif"/>     
                <h5 class="p-name">Medium Wash Carpenter Jeans</h5>
                <h4 class="p-price">$59.95</h4>
                <button class="buy-btn">Buy Now</button>
            </div>

            <div class="product text-center col-lg-3 col-md-4 col-sm-12">
                <img class="img-fuild mb-3" src="../assets/imgs/bottom10.avif"/>
                <h5 class="p-name">Taped Super Baggy Jeans</h5>
                <h4 class="p-price">$79.95</h4>
                <button class="buy-btn">Buy Now</button>
            </div>

            <!--SHOES-->    
                <div class="product text-center col-lg-3 col-md-4 col-sm-12">
                    <img class="img-fuild mb-3" src="../assets/imgs/shoes1.jpeg"/>
                    <h5 class="p-name">Women's X4 Training Shoes</h5>
                    <h4 class="p-price">$139.99</h4>
                    <button class="buy-btn">Buy Now</button>
                </div>

                <div class="product text-center col-lg-3 col-md-4 col-sm-12">
                <img class="img-fuild mb-3" src="../assets/imgs/shoes2.jpeg"/>
                <h5 class="p-name"> RS-X Peb Running Shoes</h5>
                <h4 class="p-price">$69.56</h4>
                <button class="buy-btn">Buy Now</button>
                </div>

                <div class="product text-center col-lg-3 col-md-4 col-sm-12">
                    <img class="img-fuild mb-3" src="../assets/imgs/shoes3.jpeg"/>
                    <h5 class="p-name">Men's Micro G Valsetz Tactical Boots</h5>
                    <h4 class="p-price">$97.80</h4>
                    <button class="buy-btn">Buy Now</button>
                </div>

                <div class="product text-center col-lg-3 col-md-4 col-sm-12">
                    <img class="img-fuild mb-3" src="../assets/imgs/shoes4.jpeg"/>
                    <h5 class="p-name">Jordan 4 Retro Bred</h5>
                    <h4 class="p-price">$397.51</h4>
                    <button class="buy-btn">Buy Now</button>
                </div>

                <div class="product text-center col-lg-3 col-md-4 col-sm-12">
                    <img class="img-fuild mb-3" src="../assets/imgs/shoes5.jpeg"/>
                    <h5 class="p-name">Dunk Low Retro</h5>
                    <h4 class="p-price">$94.87</h4>
                    <button class="buy-btn">Buy Now</button>
                </div>

                <div class="product text-center col-lg-3 col-md-4 col-sm-12">
                    <img class="img-fuild mb-3" src="../assets/imgs/shoes6.jpeg"/>
                    <h5 class="p-name">V8 Sneaker</h5>
                    <h4 class="p-price">$87.99</h4>
                    <button class="buy-btn">Buy Now</button>
                </div>

                <div class="product text-center col-lg-3 col-md-4 col-sm-12">
                    <img class="img-fuild mb-3" src="../assets/imgs/shoes7.jpeg"/>
                    <h5 class="p-name">Air Max 270</h5>
                    <h4 class="p-price">$149.88</h4>
                    <button class="buy-btn">Buy Now</button>
                </div>

                <div class="product text-center col-lg-3 col-md-4 col-sm-12">
                    <img class="img-fuild mb-3" src="../assets/imgs/shoes8.jpeg"/>
                    <h5 class="p-name">Jordan 1 Retro High Dior</h5>
                    <h4 class="p-price">$7673.82</h4>
                    <button class="buy-btn">Buy Now</button>
                </div>
                        
                </div>
            </div>
        </section>

        <!--Footer-->
        <footer class="mt-5 py-5">
            <div class="row">
            <div class="footer-one col-lg-3 col-md-6 col-sm-12">
                <h4>About Us</h4>
                <p>We offer the best selection of quality shoes at unbeatable prices. Shop with confidence and stay stylish!</p>
            </div>
            <!-- Clothing Section -->
            <div class="footer-one col-lg-3 col-md-6 col-sm-12">
                <h4 class="pb-2">Featured</h4>
                <ul class="text-uppercase">
                <li><a href="#">Tops</a></li>
                <li><a href="#">Bottoms</a></li>
                <li><a href="#">Shoes</a></li>
                </ul>
            </div>
            <!-- Contact Section -->
            <div class="footer-one col-lg-3 col-md-6 col-sm-12">
                <h4 class="pb-2">Contact Us</h4>
                <div>
                <h6 class="text-uppercase">Address</h6>
                <p>1234, Street Name, Baltimore</p>
                </div>
                <div>
                <h6 class="text-uppercase">Phone NO</h6>
                <p>443-777-7777</p>
                </div>
                <div>
                <h6 class="text-uppercase">Email</h6>
                <p>info@bestshop@morgan.edu</p>
                </div>
            </div>
                <!-- Social Media Section -->
                <div class="footer-col col-lg-3 col-md-6 col-sm-12">
                <h4>Follow Us</h4>
                <div class="social-links">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
            <!-- Copyright -->
            <div class="footer-bottom">
                <p>OnlineShop @ 2024. All rights reserved.</p>
            </div>

            </div>
        </footer>

        <!-- Bootstrap JS -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
    </body>
</html>